body {
  background-color: #A56B3D;
  margin: 0; 
  padding: 0; 
}

.principal {
  max-width: 600px;
  margin: 0 auto;   
  padding: 20px; 
}

.cabeca ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none; 
}
nav.cabeca ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav.cabeca ul li a {
  display: inline-block;
  padding: 7px;
  background-color: #a5805f;
  color: #FFFAF6;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav.cabeca ul li a:hover {
  background-color: #BDB294;
  color: rgb(255, 255, 255);
  transform: scale(1.07);
}

.cabeca a {
  margin: 0 10px; 
  text-decoration: none;
  color: #fff7f7;
}

h1{
  text-align: center; 
  color: #FFFAF6;
}

h2{
  text-align: center; 
  color: #FFFAF6;
}

.minhafoto {
  display: block; 
  margin: auto; 
  max-width: 30%; 
  height: auto; 
}